@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------colors*/


/*----------------------special paddings/margins/text*/


/*----------------------navbar*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #2d2c2a;
    border: 0;
}

.navbar .navbar-brand {
    font-weight: 700;
    font-family: "Exo", sans-serif;
    color : #D4AF37;
}

.navbar .navbar-brand:hover {
    color: #958B6D;
}

.navbar-nav {
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
    color: #D4AF37;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #2d2c2a;
    background: #D4AF37;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #958B6D;
}



/*----------------------headers*/

.homepage-container {
    height: 70vh;
    padding-left: 0;
    padding-right: 0;
    background: url('/assets/media/FoosHomeImage.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    
    align-items: center;
    justify-content: center;

    position: relative;
}

.band-container {
    height: 70vh;
    padding-left: 0;
    padding-right: 0;
    background: url('/assets/media/FoosBandPhoto.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    
    align-items: center;
    justify-content: center;

    position: relative;
}

.media-container {
    height: 70vh;
    padding-left: 0;
    padding-right: 0;
    background: url('/assets/media/FoosGif.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    
    align-items: center;
    justify-content: center;

    position: relative;
}

.calendar-container {
    height: 70vh;
    padding-left: 0;
    padding-right: 0;
    background: url('/assets/media/FoosTourPhoto.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero-image { 
    color: #fcf8e3;
    background-color: rgba(0,0,0, 0.22);
    height: 70vh;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
}

.container-fluid .hero-logo {
    position: relative;
    justify-content: center;
    top: 60%;
   
}

/*----------------------band info*/

.band-images { 
    text-align: center;  
    padding-bottom: 15px;
}

.media-object {
    display: block;
    margin-right: auto;
    margin-left: auto; 
}

.band-members { 
    padding-bottom: 15px;    
}

.modal-content .modal-body .modal-image {
   padding: 15px 15px 15px 15px;
}

/*----------------------media*/

.media-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
} 

.media-images {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.bestbits-image {
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px; 
}
 
.audio-links { 
    padding-top: 20px;
    padding-bottom: 10px;
}

.watch .video .videolink {
    display: flex;
    height: 225px;
    width: 350px;
    padding-bottom: 15px;
} 

/*----------------------calendar*/

.shows-head {
    background-color: red; 
    margin-left: 10px;
    margin-right: 100px;    
    text-align: center;
    border-style: solid;
}

.shows-body {
    margin-left: 10px;
    margin-right: 100px; 
    margin-bottom: 50px;
    text-align: center;
    border-style: solid;
    padding-bottom: 20px;
}

