@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:100,200,300,400,500,600,700');
/*----------------------colors*/



/*----------------------special paddings/margins/text*/



/*----------------------navbar*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #060505;
    border: 0;
    border-radius: 0px;
}

.navbar .navbar-brand {
    font-weight: 700;
    font-family: "Archivo+Narrow", sans-serif;
    color : #D4AF37;
}

.navbar .navbar-brand:hover {
    color: #958B6D;
}

.navbar-nav {
    font-family: "Archivo+Narrow", sans-serif;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
    color: #D4AF37;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #060505;
    background: #D4AF37;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #958B6D;
}

/*----------------------navbar button */

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #D4AF37;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


/*----------------------headers*/

.homepage-container {
    height: 80vh;
    padding-left: 0;
    padding-right: 0;
    background: url('../media/photos/foofightersbandphoto.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    position: relative;
}

.band-container {
    height: 80vh;
    padding-left: 0;
    padding-right: 0;
    background: url('../media/photos/foofighterscolourbandimage.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    position: relative;
}

.media-container {
    height: 80vh;
    padding-left: 0;
    padding-right: 0;
    background: url('../media/photos/foofightersplayinggif.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    position: relative;
}

.calendar-container {
    height: 80vh;
    padding-left: 0;
    padding-right: 0;
    background: url('../media/photos/foofightersstagephoto.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

    position: relative;
}



.container-fluid .hero-image {
    position: relative;
    justify-content: center;
    top: 60%;
   
}

/*----------------------homepage*/

.bio-container {
    background-color: black;
    color: #D4AF37;
    font-family: "Archivo+Narrow", sans-serif;
}

.bio {
    border: 0;
    padding-left:75px;
    padding-right:75px;
    margin-bottom: 30;
}

.page-header {
    margin-bottom: 0px;
    border-bottom: 0px;
}

.homepage-content {
    border-bottom: 0;
    margin-top: 10px;
    font-family: "Archivo+Narrow", sans-serif;
    font-weight: 500;
    font-size: medium;
}

.about-image { 
    padding: 25px;
    text-align: center;
    background-color: black;
}
/*----------------------band info*/

.member-container {
    background-color: #060505;
    color: #D4AF37;
    font-family: "Archivo+Narrow", sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.band-blurb {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Archivo+Narrow", sans-serif;
    font-weight: 500;
    font-size: medium;
}
.band-images { 
    text-align: center;  
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.media-object {
    display: block;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 22px;
}

.band-members { 
    padding-bottom: 15px;    
}

.modal-content .modal-body .modal-image {
   padding: 15px 15px 15px 15px;
}

.modal-header {
    border-bottom: 0px;
}

.modal-header .close {
    color: #ffffff;
}

.modal-content {
    font-family: "Archivo+Narrow", sans-serif;
    background-color: #2d2c2a;
    color: #D4AF37;
}

/*----------------------media*/

.foos-container {
    font-family: "Archivo+Narrow", sans-serif;
    background-color: #060505;
    color: #D4AF37;
}

.media-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
} 

.media-images {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.bestbits-image {
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px; 
}
 
.audio-links { 
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.audiomp3 {
    width: 80%;
    height: 40px;
}
.btn--play {
    color: #2d2c2a;
    background-color:#D4AF37;
    font-weight: 600;
}

/*----------------------video*/

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; 
    overflow: hidden;    
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*----------------------carousel*/

.carousel {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

 .carousel .item {
    width: 100%;
    height: 80%;
    background-color: transparent;
}
.carousel-inner > .item > img {
    position: relative;
    margin: 0px auto;
    min-width: 100%;
    width: 100%;
    height: auto;
    max-width: none;
}


/*----------------------calendar*/

.dates-container {
    font-family: "Archivo+Narrow", sans-serif;
    background-color: #060505;
    color: #D4AF37;
    padding-left: 20px;
}

@media (max-width: 767px) {
    .shows {
        margin-left:  20px;
        margin-right: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .shows {
        margin-left:  150px;
        margin-right: 150px;
    }
}

@media (min-width: 992px){
    .shows {
        margin-left:  50px;
        margin-right: 50px;
    } 
}

.shows-head {
    background-color: #D4AF37; 
    color: #2d2c2a;
    margin-left: 0px;
    margin-right: 0px;    
    text-align: center;
    border-style: solid;
}

.shows-body {
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 50px;
    text-align: center;
    border-style: solid;
    padding-bottom: 20px;
    background-color: #f9f2e0; 
    color: #2d2c2a;
}

.btn--tickets {
    color: #2d2c2a;
    background-color:#ead79b;
    border-color: #8a8576;
    font-weight: 400;
}

/*----------------------subscribe section*/

.subscription-container {
    font-family: "Archivo+Narrow", sans-serif;
    background-color: #060505;
    color: #D4AF37;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-header {
    text-align :center;
    margin-bottom: 0px;
}

.subscription-container .subscribe {
    margin-left: 0px;
}

/*----------------------mobile format*/
@media (max-width: 767px) {
    .subscribe {
        text-align :center;
        padding-left: 20px;
        padding-right: 10px;
    } 
    
}

/*----------------------tablet format*/
@media (min-width: 768px) and (max-width: 991px) {
    
    .subscribe {
        text-align :center;
        margin-left:  50px;
    } 
    
}

/*----------------------laptop format*/
@media (min-width: 992px){
    
    .subscribe {
        text-align :center;
        margin-left:  50px;
    } 
    
}



.subscribe-label {
    font-weight: 500;
}



.btn--sign {
    background-color: #d4af37;
    color: #060505;
    font-weight: bold;
}

/*----------------------footer*/

.footer-container {
    background-color: #060505;
    color: #D4AF37;
}


.footer-icons .fa  {
    font-size: 30px;
    color: #D4AF37;
}